		.vc_custom_1579781480817 {
			margin-bottom: 0px !important
		}

		.vc_custom_1579523490273 {
			margin-bottom: 0px !important;
			padding-right: 35px !important;
			padding-left: 35px !important
		}

		.vc_custom_1579518053358 {
			margin-bottom: 0px !important;
			padding-right: 0px !important;
			padding-left: 0px !important
		}

		.vc_custom_1579518107550 {
			margin-bottom: 0px !important;
			padding-right: 35px !important;
			padding-left: 35px !important
		}

		.vc_custom_1579523651769 {
			margin-bottom: 0px !important
		}
